body {
    display:flex;
    background-color:#f7f1f0;
    min-height: 100vh;;
}

#sidebar{
    flex:1;
    background-color: #33648e;
}

h1 {
    color: #c9a819;
    margin:1.2em;
    text-align: center;
}

p {
    margin: 10px;
}

#formAddingBook{
    margin:1.2em;
    display:flex;
    flex-direction: column;
    min-height: 75vh;
    justify-content:space-evenly;
}

#title{
    margin:1.2em;
}

#author{
    margin:1.2em;
}

#pages{
    margin:1.2em;
}

.tap{
  margin-left:1.2em;
}

#adding{
    width:104px;
    height:32px;
    margin:1.2em;
    background-color:#c9a819;
}

#display {
    margin:2em;
    flex:3;
    display: flex;
}

.books {
    display:flex;
    flex-direction: column;
    flex: 1;
    height: 290px;
    width: 235px;
    justify-content: space-between;
    align-items: center;
    margin: 1.8em;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid black;
}

.remB {
    align-self: flex-end;
}

.statusButton {
  width: 40px;
}

.infoButton{
  width:40px;
}

.buttons {
    height: 20px;
    width: 20px;
}    

.labelR {
  color:#c9a819
}

.labPosition {
  margin-left:3.2em;
  margin-top: -1.8em;
}

.inputR {
    margin-left:1.2em !important;
}

